.input {
  width: 100%;

  border: none;
  background: none;
  outline: none;
  transition: 0.2s ease;

  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.input-title {
  height: 39px;
  padding: 0 0 15px 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  font-size: 32px;
}

.invalid {
  border-color: #f63a3a;
}
