.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100px;
}

.form-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-delete {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.2s ease;
}

.form-delete:hover {
  background: rgba(255, 255, 255, 0.1);
}

.form-row {
  display: flex;
  align-items: center;
  gap: 50px;

  padding-bottom: 15px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  transition: 0.2s ease;
}

.form-controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  width: 100%;

  border: none;
  background: none;
  outline: none;
  transition: 0.2s ease;

  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.textarea {
  resize: none;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.invalid {
  border-color: #f63a3a;
}
