.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 50px;

  padding-bottom: 15px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  transition: 0.2s ease;
}

.form-controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-title {
  width: 100%;
  height: 39px;
  padding: 0 0 15px 0;

  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  background: none;
  outline: none;
  transition: 0.2s ease;

  font-family: 'Source Sans 3', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.input {
  width: 100%;

  border: none;
  background: none;
  outline: none;
  transition: 0.2s ease;

  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.textarea {
  resize: none;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.invalid {
  border-color: #f63a3a;
}
